<!-- ユーザーの詳細 -->
<div>
  <h1>User info</h1>
  <%= image_tag @user.get_profile_image(100,100) %>
  <%= @user.name %>
</div>

<!-- ユーザーの投稿一覧 -->
<% @books.each do |book| %>
<div>
  <!-- アカウント画像 -->
  <%= image_tag book.user.get_profile_image(100,100) %>
  <!-- 本のタイトル -->
  <%= link_to user_path(user.id) do %>
    <%= book.title %>
  <% end %>
  <!-- 本の紹介文 -->
  <%= book.body %>
</div>
<% end %>