<!-- ログインユーザーの投稿一覧 -->
<%= flash[:notice] %>

<%= render 'info', user:@user %>
<%= render 'books/new', book:@book %>

<!-- ログインユーザーの投稿一覧 -->
<% @books.each do |book| %>
<div>
  <!-- アカウント画像 -->
  <%= image_tag book.user.get_profile_image(100,100) %>
  <!-- 本のタイトル -->
  <%= link_to book_path(@user.id) do %>
    <%= book.title %>
  <% end %>
  <!-- 本の紹介文 -->
  <%= book.body %>
</div>
<% end %>