<%= render 'users/info', user:@user %>

<h1>Books</h1>
<% @books.each do |book| %>
<div>
  <!-- アカウント画像 -->
  <%= image_tag book.user.get_profile_image(100,100) %>
  <!-- 本のタイトル -->
  <%= link_to book_path(book.id) do %>
    <%= book.title %>
  <% end %>
  <!-- 本の紹介文 -->
  <%= book.body %>
</div>
<% end %>
