<!-- bookの詳細ページ -->

<%= flash[:notice] %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <!-- ユーザーの詳細 -->
      <h1>User info</h1>
      <%= image_tag @book.user.get_profile_image(100,100) %>
      <%= @book.user.name %>
      <%= @book.user.introduction %>
    
      <% if @book.user == current_user %>
        <%= link_to edit_user_path(@user.id) do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      <% else %>
        <%= link_to user_path(@user.id) do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      <% end %>
      <!-- 投稿フォーム -->
      <%= render 'new', book:@book1 %>
    </div>
    
    <div class="col-md-8">
      <h1>Book detail</h1>
      <!-- アカウント画像 -->
      <p><%= image_tag @book.user.get_profile_image(100,100) %></p>
      <!-- ユーザー名 -->
      <%= link_to user_path(@user1.id) do %>
        <P><%= @book.user.name %></P>
      <% end %>
      <!-- 本のタイトル -->
      <%= link_to book_path(@book.id) do %>
        <p><%= @book.title %></P>
      <% end %>
      <!-- 本の紹介文 -->
      <p><%= @book.body %></P>
      <% if @book.user == current_user %>
        <%= link_to "Edit", edit_book_path(@book.id) %>
        <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？" %>
      <% end %>
    </div>
  </div>
</div>